{% extends "layout.html" %}

{% block content %}

  

  <form class="d-flex mb-4" action="" method="GET">
    <input class="form-control" type="search" name="searchquery" placeholder="What are you looking for?">
    <button class="btn" type="submit"><img src="{{ url_for('static', filename='search.svg') }}" alt=""></button>
  </form>

  {% if searchtitle %}
    <h4 class="mb-3">Showing search results for "{{ searchtitle }}"</h4>
  {% endif %}
  


    {% for post in posts.items %}
    <article class="mb-2">
        <div class="card p-4">
          <div class="metadata position-relative">
            <small class="mr-2">{{ post.author.username }}</small>
            <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>

            {% if post.author == current_user %}
            <a href="{{ url_for('delete_post', post_id=post.id) }}" type="button" class="btn btn-light btn-sm pt-0 pb-0 pr-0 position-absolute end-0">Delete</a>
            {% endif %}
          </div>

          <div class="mt-2">
            <h5><a class="text-dark" target="_blank" href="{{ post.content_link }}">{{ post.title }}</a></h5>
            <p class="article-content">{{ post.content }}</p>
          </div>
          
          <!-- POST THEMING -->
          <div>
            {% if post.theme == 1 %}
              <span class="badge rounded-pill bangers">Bangers</span>
            {% elif post.theme == 2 %}
              <span class="badge rounded-pill ambient">Ambient</span>
            {% elif post.theme == 3 %}
              <span class="badge rounded-pill gym">Gym</span>
            {% elif post.theme == 4 %}
              <span class="badge rounded-pill chilled">Chilled</span>
            {% elif post.theme == 5 %}
              <span class="badge rounded-pill work">Work</span>
            {% elif post.theme == 6 %}
              <span class="badge rounded-pill sleep">Sleep</span>
            {% elif post.theme == 7 %}
              <span class="badge rounded-pill meditation">Meditation</span>
            {% elif post.theme == 8 %}
              <span class="badge rounded-pill party">Party</span>
            {% else %}
              <span></span>
            {% endif %}
          </div>
          
        </div>
      </article>
    {% endfor %}


    <div class="container">
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-secondary mt-2 mb-2" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-secondary mt-2 mb-2" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
      
      {% endif %}
    {% endfor %}
  </div>
  


{% endblock %}
